body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
} 

/* curly bracket */

h1 {
    text-align: center;
    margin-top: 16rem;
    font-size: 5rem;
}

/* Class */
.text {
    text-align: center;
    margin-top: 10px;
    font-size: 5rem;
}

/* Id */
#food {
    display: block;
    margin: auto;
    width: 50rem;
}

.arrow {
    display: block;
    width: 10rem;
}

#button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Id individual element a */
#button a {
    color: black;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
}

#yes {
    background-color: lightgreen;
    font-size: 2rem;
}

#no {
    background-color: lightcoral;
    font-size: 1rem;
}